{% extends 'layout/layout.twig' %}

{% block subtitle %}Connecté(e){% endblock %}

{% block description %}{% endblock %}

{% block main %}
    <main class="white">
        <section class="introduction bck-white black">
            <h1>Connecté(e)</h1>
            <p>Bienvenue sur l'espace d'administration {{ pseudo }}.</p>
        </section>

        <section class="administration black">
            <h2>Vous pouvez dès à présent faire des modifications.</h2>
            <a href="{{ url('user!logout') }}">
                <button class="link-disconned" type="button">Se déconnecter</button>
            </a>
        </section>

        <section class="all-comments">
                {% for comment in comments %}
                    {% if comment.report == 1 %}

                        <h2>Ce commentaire à été signalé :</h2>

                        <div class="comments bck-white">
                            <p>Écrit par : <span>{{ comment.auteur }}</span> :</p>
                            <p>{{ comment.contenu | nl2br}}</p>
                            <p>le <span>{{ comment.date_commentaire }} :</span></p>
                            <a class="white" href="{{ url("comments!notreport", {'id_comment': comment.id}) }}">Autorisé le commentaire</a>
                            <a class="white" href="{{ url("comments!delete", {'id_comment': comment.id}) }}">Supprimer le commentaire</a>
                        </div>

                    {% endif %}
                {% endfor %}
        </section>
    </main>
{% endblock %}