{% extends 'layout/layout.twig' %}

{% block subtitle %}Chapitre et commentaires {% endblock %}

{% block description %}Voici l'intégralité du chapitre et les commentaires associés.{% endblock %}

{% block main %}
    <main class="white">
        <section class="introduction">
                <h1>Billet pour l'Alaska</h1>
            <p>Voici le chapitre {{ billet.id }}.</p>
        </section>

        <section class="premier_billet">
                <h2>
                    {{ billet.titre }}
                </h2>
                <p>
                    {{ billet.contenu }}
                </p>
        </section>

        <section class="tous_commentaires">
                <section class="chp_1">
                    <h2>Commentaires du chapitre {{ billet.id }}</h2>
                    {% for comment in comments %}
                        <section class="commentaires">
                            <p>Écrit par : <span>{{ comment.auteur }}</span> :</p>
                            <p>{{ comment.contenu | nl2br}}</p>
                            <p>le <span>{{ comment.date_commentaire }} :</span></p>
                        </section>
                    {% endfor %}
                </section>
        </section>
    </main>
{% endblock %}