{% extends 'layout/layout.twig' %}

{% block subtitle %}Chapitre et commentaires {% endblock %}

{% block description %}Voici l'intégralité du chapitre et les commentaires associés.{% endblock %}

{% block main %}
    <main class="white">
        <section class="introduction bck-white black">
            <h1>Billet pour l'Alaska</h1>
            <p>Voici le chapitre {{ post.id }}.</p>
        </section>

        <section class="post">
            <h2>{{ post.titre }}</h2>
            {% autoescape %}
            <p>{{ post.contenu|raw }}</p>
            {% endautoescape %}
            <div>
                {% if session == true %}
                    {% if admin == 1 %}
                        <a class="white btn-chap" href="{{ url('articles!update', {'id': post.id}) }}">Modifier</a>
                        <a class="white btn-chap" href="{{ url("articles!delete", {'id': post.id}) }}">Supprimer</a>
                    {% endif %}
                {% endif %}
            </div>
        </section>

        <section class="all-comments">
                <h2>Commentaires du chapitre {{ post.id }}</h2>
                {% for comment in comments %}
                    <section class="comments bck-white">
                        <h3>Écrit par : <span>{{ comment.auteur }}</span> :</h3>
                        <p>{{ comment.contenu | nl2br}}</p>
                        <p>le <span>{{ comment.date_commentaire }} :</span></p>

                        <div class="btn-comments">
                            <a class="white btn-signal" href="{{ url("comments!report", {'id_comment': comment.id}) }}">Signaler le commentaire</a>

                            {% if session == true %}
                                {% if admin == 1 %}
                                    <a class="white" href="{{ url("comments!delete", {'id_comment': comment.id}) }}">Supprimer le commentaire</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </section>
                {% endfor %}
        </section>

        {% if comments == false %}
                <div class="comments bck-white">
                    <p>Il n'y a pas de commentaires pour le moment. Soyez le premier à en ajouter un !</p>
                </div>
        {% endif %}

        {% if session == true %}
            <section class="add-comment">
                <h2>Ajouter un commentaire</h2>
                <form  method="post" action="{{ url("comments!create", {'id': post.id}) }}">
                    <input name="pseudo" type="text" placeholder="pseudo" required>
                    <textarea name="content" rows="5" placeholder="Votre commentaire" required></textarea>
                    <input name="date" type="hidden" value="{{ date()|date('Y-m-d H:i:s') }}">
                    <input type="reset" value="Effacer">
                    <input type="submit" value="Ajouter">
                </form>
            </section>
        {% endif %}
    </main>
{% endblock %}