{% extends 'layout/layout.twig' %}

{% block main %}
    <main class="white">
        <section class="introduction">
                <h1>Billet pour l'Alaska</h1>
            <p>Voici les commentaires des derniers chapitres.</p>
        </section>

        <section class="premier_billet">
            {% for billet in lastBillet %}
                {% if billet.id == 1 %}
                <h2>
                    {{ billet.titre }}
                </h2>
                <p>
                    {{ billet.contenu }}
                </p>
                {% endif %}
            {% endfor %}
        </section>

        <section class="tous_commentaires">
                <section class="chp_1">
                    <h2>Commentaires du chapitre 1</h2>
                    {% for commentaire in lastComment %}
                        {% if commentaire.id_billet == 1 %}
                        <section class="commentaires">
                            <p>Écrit par : <span>{{ commentaire.auteur }}</span> :</p>
                            <p>{{ commentaire.contenu | nl2br}}</p>
                            <p>le <span>{{ commentaire.date_commentaire }} :</span></p>
                        </section>
                        {% endif %}
                    {% endfor %}
                </section>
        </section>
    </main>
{% endblock %}