<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {{ block('subtitle')}} - Blog de Jean Forteroche{% endblock %}</title>
    <meta name="description" content="{{ block('description') }}">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<header>
    {{ include('layout/navbar.twig') }}
    {% if (hasFlash()) %}
        <p class="flash flash-{{ typeFlash() }} al-cent">{{ messageFlash() }}</p>
    {% endif %}
    <h1 class="white">{{ block('title') }}</h1>
</header>

{% block main %}{% endblock %}
</body>

<script src="https://kit.fontawesome.com/b28c94d746.js" crossorigin="anonymous"></script>
</html>