<nav>
    <ul>
        <li>
            <a class="white" href="{{ url('home') }}">Accueil</a>
        </li>
        <li>
            <a class="white" href="{{ url('articles') }}">Chapitres</a>
        </li>
        <li>
            <a class="white" href="{{ url('contact') }}">Contact</a>
        </li>
        <li>
            {% if session == true %}
                <a class="white" href="{{ url('admin') }}">Mon compte</a>
            {% endif %}
        </li>
        <li>
            {% if session == false %}
                <a class="white" href="{{ url('admin') }}">Connexion / Inscription</a>
            {% endif %}
            {% if session == true %}
                <a class="white" href="{{ url('user!logout') }}">Déconnection</a>
            {% endif %}
        </li>
    </ul>
</nav>